.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: rgb(126, 130, 219); */
  min-height: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.about-container {
  font-size: 20px;
  display: flex;
  width: fit-content;
  align-self: center;
  margin-top: 10px;
  margin-left: 10em;
  margin-right: 10em;
  
}

.intro-top {
  font-size: 30px;
}

.intro-top {
  position: relative;
  /* right: 200px; */
  animation: mymove 2s;
}

@keyframes mymove {
  from {right: 250px;}
  to {right: 0px;}
}
                  

.intro {
  font-size: 20px;
  /* display: flex;
  width: fit-content;
  align-self: center; */
  margin-top: 10px;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 8em;
}

.intro-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.project-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}



.navbar {
  background-color: rgb(45, 45, 212);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height:40px;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 5em;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 8em;
  padding-bottom: 7em;
}

.p1bottom {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-left: 50px;
  padding-right:50px;
  align-items: center;
  height: 3em;
  margin-bottom: 3em;
}

.p2bottom {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-left: 50px;
  padding-right:50px;
  align-items: center;
  height: 3em;
  margin-bottom: 3em;
}

.p3bottom {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-left: 50px;
  padding-right:50px;
  align-items: center;
  height: 3em;
  margin-bottom: 3em;
}

.project2-text {
  margin-left: 10em;
  margin-right: 10em;
}

.project3-text {
  margin-left: 10em;
  margin-right: 10em;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-left: 50px;
  padding-right:50px;
  background-color: #4CAF50;
  align-items: center;
  border-bottom: 2px solid black;
  height: 3em;
  margin-top: -1em;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: rgb(255, 106, 0);
}

/* selected link */
a:active {
  color: blue;
}

.skillIcons{
  padding: 8px 0;
  display: flex;
  justify-content: space-around;
}


.skillIcons1{
  padding: 8px 0;
  display: flex;
  justify-content: space-around;
}

.skillIcons svg{
  height: 40px;
  fill: var(--wrapperColor)
}

.contact {
  padding-top: 2em;
  padding-bottom: 15em;
}